:root {
    --red-color: #be3144;
    --gray-color: #2c2d30;
    --violet-color: #45567d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #FFCE3E;

    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search: calc(var(--header-height) - var(--navbar-height));
}

* {
    /* Tất các các thẻ khác  */
    box-sizing: inherit;
}

html {
    /* Da phan mac dinh cua cac trinh duyet: 100% = 16px */
    /* font-size: 100%; */
    /* HACK TIP */
    font-size: 62.5%;
    /* vi 62.5% bang 10px, khi dung o duoi se de tính nhẩm hơn */
    line-height: 1.6em;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
@media screen and (max-width: 320px) {
    html {
        font-size: 50%;
    }
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
}
h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    text-align: center;
    color: var(--white-color);
}

h2 {
    font-size: 4.2rem;
}

p {
    text-align: center;
    color: var(--white-color);
}