#navbar {
    display: flex;
    background-color: var(--red-color);
    height: 74px;
    width: 100%;
    justify-content: flex-end;
    position: fixed;
    z-index: 1;
    top: 0;
}
.nav-items {
    list-style: none;
    display: flex;
    margin: 0 20px 0 0;
}
.nav-item {
   text-decoration: none;
   display: flex;
   line-height: 34px;
   transition: background-color 0.3s ease-out;
}
.nav-item:hover {
    background-color: #2c2d30;
}
.nav-item__link {
    text-decoration: none;
    padding: 20px;
    color: var(--white-color);
    font-size: 2.2rem;
}

#welcome-section {
    height: 90vh;
    width: 100%;
    background-color: var(--gray-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7.4rem;
    overflow: scroll;
}
.welcome-img{
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: auto;
    box-shadow: 0 0 80px var(--black-color);
    margin-bottom: 70px;
}
.welcome-text {
    color: var(--white-color);
}
.welcome__main-cap {
    font-size: 5.8rem;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    line-height: 84px;
    margin: 10px 0 20px;
}
.welcome__sub-cap {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--red-color);
    margin: 10px 0;
    text-align: center;
}

#projects {
    background-color: var(--violet-color);
    padding: 10rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects-title {
    max-width: 64rem;
    line-height: 5.8rem;
    margin: 0 auto 6rem auto;
    color: var(--white-color);
    border-bottom: 2px solid #fff;
}
.projects-list {
    max-width: 128rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.project-tile {
    display: block;
    text-decoration: none;
    margin-bottom: 4rem;
    width: 40rem;
    height: 46.8rem;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease-out;
}
.project-tile:hover {
    box-shadow: 10px 10px 50px var(--gray-color);
}
.project-tile:hover .project-title {
    color: var(--hover-color);
}
.project-img {
    width: 100%;
    height: 40rem;
    object-fit: cover; 
    object-position: 50% 50%; 
    margin: 0;
}
.project-title {
    color: var(--white-color);
    text-align: center;
    background-color: var(--gray-color);
    font-size: 2rem;
    padding: 2rem ;
    margin: 0;
    position: absolute;
    bottom: 0px;
    width: 100%;
    transition: color 0.3s ease-out;
}
.projects-show {
    display: inline-block;
    background-color: var(--gray-color);
    color: var(--white-color);
    text-decoration: none;
    min-width: 14.8rem;
    height: 5rem;
    font-size: 2.2rem;
    line-height: 5rem;
    text-align: center;
    margin: 0 auto;
    transition: background-color 0.3s ease-out;
    transition: color 0.3s ease-out;
}
.projects-show:hover {
    background-color: var(--black-color);
    color: var(--hover-color);
}

#profile-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-color);
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
}
.profile-title {
    font-size: 6rem;
    line-height: 84px;
    margin: 0;
}
.profile-subtitle {
    font-style: italic;
    margin: 0;
}
.profile-contacts {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}
.profile-contact {
    font-size: 2.4rem;
    color: var(--white-color);
    padding: 1rem 2rem;
    text-decoration: none;
    position: relative;
}
@keyframes moveAbove {
    from {
        padding-bottom: 10px;
        color: var(--white-color);
        bottom: 0;
    }
    to {
        padding-bottom: 10px;
        color: var(--hover-color);
        bottom: 5px;
    }
  }
.profile-contact:hover {
    animation: moveAbove .3s forwards;
}
.footer {
    background-color: var(--gray-color);
    display: flex;
    justify-content: space-around;
    border-top: 2px solid var(--red-color);
    padding: 2rem;
    font-weight: 300;
    flex-wrap: wrap;
}

.footer > p {
    margin: 2rem;
}
.footer-link {
    text-decoration: none;
    color: var(--white-color);
    transition: color 0.3s ease-out;
}
.footer-link:hover {
    color: var(--violet-color);
}

